body {
    margin: 20px;
    background-color: #222;
}
.canvas-area {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}
#canvas-image {
    height: 100%;
    object-fit: contain;
    object-position: center;
}
#canvas {
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;

    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
}
.tools {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.tools button {
    cursor: pointer;
    margin-right: 30px;
}
.result {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.result img {
    width: 100%;
    border-radius: 10px;
}
